[2017-06-22 15:34] lukabratos opened #3 "pusher-chat-api-swift dependencies visualisation 🖼"
<img width="1156" alt="screen shot 2017-06-22 at 16 31 12" src="https://user-images.githubusercontent.com/3057261/27442615-994c18fe-5768-11e7-9a03-b61975d12a1f.png">

[2017-06-23 09:28] lukabratos opened #4 "Prefixes are not needed anymore"
`PCUser` -> `User`
`PCMessage` -> `Message`

`PC` prefix can be safely removed from all the classes in the project.

[2017-06-27 14:20] #4 closed, assigned to lukabratos

[2017-09-07 10:24] #3 closed, assigned to nobody

[2017-10-19 04:38] neoighodaro opened #54 "Cannot install PusherChatkit using cocoapods"
Here is my Podfile:
[code]

Here is the response:
[code]

[2017-10-19 04:53] neoighodaro commented on #54
For those who encounter this issue, you may need to run the following commands:

[code]
It should work now.

[2017-10-19 04:53] #54 closed

[2017-12-02 18:27] nitrag opened #57 "Connect"
`connect()` use tcp sockets to keep a connection open doesn't it?

My app's Chat is a secondary feature. Keeping a connection open is an unnecessary battery drain if only 1% of my users need realtime messaging/presence/etc.

My needs:

- Open app
- Connect
- Check for new messages for all subscribed rooms
- Disconnect
- User navigates to 1:1 chat screen -> reconnect + utilize chatkit full function

[2017-12-04 15:54] teminer commented on #57
@nitrag Correct, it does keep a connection open.

Thanks for the feedback and providing a thorough description of your requirements. It's quite helpful. 😃

Integrating Push Notifications effectively with Chatkit is dependent on the read receipts/cursor feature we are currently implementing. Once cursors are implemented, we don't have much wiggle room in our roadmap to do the full integration with

[2017-12-08 20:08] nitrag commented on #57
If you're asking me to write a guide for iOS, I would consider.

You're Push Notifications response is too vague. When will this be available?

During some testing I think it would be easiest if there was a single api call (no sockets) to grab:

- current user's latest chat rooms
- each room object would have a timestamp of last message (for sorting)
- last message content (and if sender was curre

[2017-12-09 02:42] nitrag opened #58 "Joining Rooms"
There is an error response when joining the same room twice (easy mistake if you are following the getting started guide).

[code]

Seems to me the server should succeed anyway (if already joined) and return the `Room` object anyway.

[2017-12-11 14:13] teminer commented on #57
@nitrag We would love to have a guest writer write a guide for Chatkit/Pusher's Push Notification integration. If iOS is your preference, since we support Swift, that would be great!

Using Push Notifications with Chatkit is dependent on read receipts, which we are currently implementing and hope to release by end of the year. @hot-leaf-juice is working on that and can provide more detail if you h

[2018-01-09 14:11] hamchapman commented on #58
A fix for this has been merged into the server repo and as soon as the next deployment happens (should be soon!) this will no longer cause an error 👍  Thanks for the feedback!

[2018-01-09 14:11] #58 closed

[2018-01-10 04:38] nitrag opened #60 "Message Created/Updated Date"
Is there a particular reason why the `createdAt` and `updatedAt` timestamps are strings?

https://github.com/pusher/chatkit-swift/blob/b81a9b04a043c52b2d5e85b06c51b2874a462fcd/Sources/PCMessage.swift#L6

If there is cause to keep them as string, can you at least add this function to easily grab Date when needed?

[code]

[2018-02-14 17:10] hamchapman commented on #60
This has been added as of 0.5.0: e.g. https://github.com/pusher/chatkit-swift/blob/f4182fcf404fd0a27ad3d96fc1acdfea010f535a/Sources/PCMessage.swift#L18

[2018-02-14 17:10] #60 closed

[2018-02-14 18:13] lukaspili opened #63 "How to handle push notification?"
Hello,
Follow-up from #57 => What is the current way to handle push notifications with ChatKit?
Didn't find any mention of it in the docs.
Thanks.

[2018-02-16 14:42] hot-leaf-juice commented on #63
Hi!

There's currently no explicit integration with push notifications, but we'll be releasing a version of the swift SDK with read cursors support _very soon_ (apparently this afternoon... 😉). When you have read cursors support, and depending on your precise requirements, something like the following might work:

- set messages as read as they come in
- keep track of sent messages and periodicall

[2018-02-16 16:01] lukaspili commented on #63
Sounds great, this workflow would totally work for us 👍 .
Thank you for the quick answer.

[2018-02-16 16:01] #63 closed

[2018-02-18 13:36] nyeu opened #66 "Project not building with PusherChatkit v.0.6.0"
### What?
Your SDK doesn't compile in my project.
I have installed your SDK through Cocoapods in my project and when I try to build it, it fails.
The error is in PCTokenProvider.swift, line 22:
```Instance member 'url' cannot be used on type 'PCTokenProvider'```

<img width="1135" alt="screen shot 2018-02-18 at 13 34 28" src="https://user-images.githubusercontent.com/7888779/36352417-931b4152-14b0

[2018-02-26 09:56] hamchapman commented on #66
Hey @nyeu, sorry for the slow response!

I believe that error will be because you're using Swift 3.2. I think I've seen that error when using versions of Swift < 4.

Are you restricted to using Swift 3.2 or would you be able to use 4.0+?

[2018-03-26 12:44] hamchapman commented on #66
Closing as stale. Let me know if this is still a problem

[2018-03-26 12:44] #66 closed

[2018-04-06 17:56] steve228uk opened #72 "Typing events broken after 0.7.0"
### What?

A [change was made in v0.7.0](https://github.com/pusher/chatkit-swift/blob/f27fa3861c13ba197d9a1d376c099995ce256161/CHANGELOG.md#070---2018-03-26) to remove the `userSubscription` reference from the `ChatManager`. This change has now broken events such as `userStartedTyping` and `userStoppedTyping`.

The error that is now returned is `[ERROR] currentUser property not set on PCUserSubscr

[2018-04-07 18:47] hamchapman commented on #72
Weird! This should be being done here: https://github.com/pusher/chatkit-swift/blob/f27fa3861c13ba197d9a1d376c099995ce256161/Sources/ChatManager.swift#L102-L105

I'll have to investigate this some more on Monday. Thanks for the report!

[2018-04-07 23:41] steve228uk commented on #72
@hamchapman Thanks for getting back to me, appreciate it. Have a great weekend 😊

[2018-04-12 20:52] steve228uk opened #74 "When calling PCCurrentUser.leaveRoom(id:completionHandler:) a crash occurs"
### What?

When `PCCurrentUser.leaveRoom(id:completionHandler:)` is called it causes a recursive crash (see attached screenshot)

<img width="511" alt="screen shot 2018-04-12 at 21 49 53" src="https://user-images.githubusercontent.com/1169297/38703673-ce347dac-3e9b-11e8-91ae-af124c86408a.png">

### Environment

* **PusherChatkit version:** 0.7.0
* **Xcode version:** 9.3
* **Swift version:** 4.1
*

[2018-04-12 20:55] steve228uk commented on #74
This seems to be caused by [two methods having the same signature](https://github.com/pusher/chatkit-swift/blob/9c249cc883c7bebe512454c31b4e33dc33761f89/Sources/PCCurrentUser.swift#L406-L423) which is causing the recursion and ultimately the crash.

The private method should likely be renamed.

[2018-04-12 20:58] steve228uk opened #75 "Request: Make error handlers optional"
### What?

For some calls to the ChatKit API it's unlikely an error handler will always be necessary. For example, I'm not particularly bother if the `stoppedTypingIn(_ room:)` method fails.

As such it might be a nice improvement to make some of these handlers optional.

### Environment

* **PusherChatkit version:** 0.7.0
* **Xcode version:** 9.3
* **Swift version:** 4.1
* **Platform(s) running P

[2018-04-16 09:16] hamchapman commented on #74
Ah, good catch. I think it's even simpler than that: https://github.com/pusher/chatkit-swift/blob/9c249cc883c7bebe512454c31b4e33dc33761f89/Sources/PCCurrentUser.swift#L407

That function is directly calling itself. The first parameter should be `roomId`, not just `id`.

I'll push out a new version with that fix in it today.

[2018-04-16 09:33] hamchapman commented on #74
Just released version 0.7.1 that fixes this, and includes the fix that was in #71

Thanks for all the reports and PR @steve228uk !

[2018-04-16 09:33] #74 closed

[2018-04-16 11:10] hamchapman commented on #72
I've now just released 0.7.2 which fixes this. I should have made it part of the 0.7.1 release, sorry!

Thanks for the report again though 👍

[2018-04-16 11:10] #72 closed

[2018-04-24 11:26] steve228uk opened #76 "Memory Leak: PCRoomSubscription retaining strong reference to PCRoomDelegate"
### What?

When calling the following method on `PCCurrentUser` a delegate is passed to the method. However the declaration for the delegate on `PCRoomSubscription` is not marked as weak. This causing the `deinit` on the class assigned as the delegate to never be called.

[code]

The `PCRoomDelegate` should be marked as compliance with `NSObjectProtocol` to allow it to be defined a weak reference

[2018-04-24 11:42] steve228uk commented on #76
It seems that this may not be the only aspect causing the memory leak. I setup the weak link in my fork and it's still retaining a strong reference. Could this be because the `PCRoom` is never removed from memory because the `PCCurrent` user keeps a reference to it and all of its subscriptions? Is there a way to manually unsubscribe or keep a weak link to a room there?

[2018-04-24 11:48] steve228uk commented on #76
Here's the memory graph for the retained instance of the delegate. `PCRoomSubscription` is no longer holding a reference to it in my fork but `PPSubscriptionDelegate` is. I think this is caused by the non-weak reference to the `PCRoomDelegate` on `PCMessageSubscription`.

<img width="1070" alt="screen shot 2018-04-24 at 12 43 35" src="https://user-images.githubusercontent.com/1169297/39184891-210f

[2018-04-24 13:29] hamchapman commented on #76
Fixed in #77

[2018-04-24 13:29] #76 closed

[2018-05-30 09:43] bookercodes commented on #63
If you want to add push notifications to your Chatkit app, you may find this helper useful: https://github.com/gildebrand/chatkit-push-helper!

[2018-08-15 18:43] renshaw1 opened #101 "Crash after app appears from background"
### What?

If I close the app (putting it on background, not shutting it down completely) after it has connected to Chatkit and subscribed to the user's rooms, and then re-open the app, the app _always_ crashes at exactly this location:

<img width="1187" alt="screen shot 2018-08-14 at 19 27 31" src="https://user-images.githubusercontent.com/25514354/44166444-b200c400-a0cb-11e8-9927-e5cac137304f.p

[2018-08-27 15:25] #101 closed

[2018-09-03 16:14] hamchapman commented on #63
It's still something we're interested in providing a solution for but we've not tackled it yet.

[2018-09-05 11:53] gianpaj commented on #63
I want to chime in for a more seamless integration between Chatkit and Push Notifications (Beams or similar).

I have a fork of this repo running on my server https://github.com/gildebrand/chatkit-push-helper and it's not working anymore.
I need to put in time into debugging this, thankfully this is not affecting many users, but if we were serving thousands of customers, not having push notificati

[2018-09-05 13:34] teminer commented on #63
@jordaneharp would be a good person to start with ;)

[2018-10-25 09:24] steve228uk opened #107 "createdAtDate on PCMessage causing crashes at times"
### What?

`createdAtDate` on PCMessage force unwraps a date created from a string. There seems to be times when this has caused a crash for our users.

I've been unable to replicate the issue but I have but have seen crash reports coming in.

### Environment

* **PusherChatkit version:** 0.8.1
* **Xcode version:** 10.0
* **Swift version:** 4.1
* **Platform(s) running PusherChatkit:** iOS

----

C

[2018-10-25 09:52] hamchapman commented on #107
Do you have any more info on what the `createdAt` string value is for when the crash occurs?

[2018-10-25 09:59] steve228uk commented on #107
Unfortunately not, @hamchapman 😟 I've only got the stack from the iOS crash report. It's coming from the `newMessage(message: PCMessage)` delegate method. When attempting to insert that into a collection view and read the value from `createdAtDate` the getter throws an error.

It's not something that we've been able to replicate it ourselves but have had multiple users and multiple crash reports f

[2018-10-30 17:31] lukabratos commented on #107
We might try and set the locale in the [DateFormatter](https://github.com/pusher/chatkit-swift/blob/master/Sources/PCMessage.swift#L12).

https://developer.apple.com/library/archive/qa/qa1480/_index.html

[2018-11-05 14:48] williamluke4 commented on #63
Has there been any movement on this? @hamchapman

[2018-11-16 06:05] papanton opened #111 "User Set in room returns nil"
PCCurrentUser PCRooms have empty Sets for userIds. Is this the expected SDK behavior?

`public internal(set) var userIDs: Set<String>`

Is nil on PCRoom init function.

Xcode 10
Swift 4.2
ChatKit 1.0.0

[2018-11-20 16:08] hamchapman commented on #111
The list of users that are members of a room will now only be populated once you've subscribed to the room that you're attempting to get the list of members for.

[2018-11-20 16:08] #111 closed

[2018-11-21 11:31] hamchapman commented on #107
What's the workaround you've been using @steve228uk ?

[2018-11-21 13:45] steve228uk commented on #107
@hamchapman I'm using a date formatter on the `createdAt` date but not force unwrapping.

[code]

[2018-11-30 00:36] hitchingsh opened #114 "onMessage sometimes not called when typing enabled"
### What?

We are developing an app using Chatkit to do chat on iOS.  onMessage was being called reliably until we enabled the typing indicator feature for Chatkit in swift a couple of months ago.  We found that every certain number of messages (say about 1 or 2 in 10) the onMessage would not be called.  This has happened to both of on an ongoing basis.  We are located in different countries so it

[2018-12-03 10:48] hamchapman commented on #114
@hitchingsh I've tried to recreate this using this super simple app I made: https://github.com/hamchapman/ChatMessageKit

So far I've not been able to, following the actions you said worked for you.

It assumes that the users you connect with are only in one shared room, if you want to test it yourself.

If you're able to share your app with me where you are able to recreate it then please share t

[2018-12-04 01:41] hitchingsh commented on #114
It appears when we send a message with sendMessage, the message is not being sent back from the Chatkit/Pusher server sometimes when the user is typing.  Specifically, PusherPlatform::PPSubscriptionURLSessionDelegate class with method urlSession is not being called in the cases where onMessage is not called. In other words, I believe this is a Pusher server issue. I inserted NSLog statements in th

[2018-12-04 10:42] hamchapman commented on #114
Given that the code in the demo app I shared and the code you're running seems to be similar, it sounds like the issue is localised to your app, although I'm hesitant to rule anything out just yet!

When you don't see `onMessage` being called, are you completely sure that the message has successfully sent? Could it be that the message send is failing, rather than the message delivery? If you reloa

[2018-12-04 16:21] hitchingsh commented on #114
The message is always successfully sent and stored on the chatkit server 100% of the time.  When I go back into the room the messages are there.  Please look at the server logs for the instance locators I gave you and see if there are any errors and also if chatkit does not send the message back to you if you are typing or if it drops messages

[2018-12-05 16:12] hamchapman commented on #114
I've just checked our server logs and checked our monitoring to see if there were any errors related to your instance locator and there haven't been.

Are you able to share your app with me where you're experiencing the issue, either in its full form or in a stripped down form?

Otherwise I'm not sure what else I can do to help debug if neither you nor I can reproduce the bug in the app I made and

[2018-12-07 21:49] hitchingsh commented on #114
Ham Chapman, I've sent you a Github invite to our repro so you can download it and test it to reproduce the problem of onMessage not being called when sending messages with the typing indicator turned on.   Please do not share this code.

The default points to our test server. Login using the default number 1-650-555-5555 and enter the six digit verification code (shown in XCode console for develo

[2018-12-10 15:40] hitchingsh commented on #114
Note you have to use the SLKInputBar branch in github

[2018-12-10 18:30] jain-ruchi opened #116 "PCRoom.users is empty even after subscribing"
### What?

in `func onMessage(_ message: PCMessage)`:
`message.room.users` is coming back as an empty array (not always, but usually the first time `onMessage` is called for a room)

any ideas on what may be causing this issue and how we can work around it? this severely impacts our Inbox interface.

### Environment

* **PusherChatkit version:** 1.0.0
* **Xcode version:** 10.1
* **Swift version:**

[2018-12-11 14:08] hamchapman commented on #114
@hitchingsh I'm not 100% sure what I need to do to recreate the bug. I've tried typing messages in one simulator while then sending a message from another one and everything seems to be fine.

Are you able to provide a video or some written steps that explains how to trigger the problem?

So far every message I've sent seems to have been received by all connected clients every time so I suspect I'

[2018-12-11 14:58] hitchingsh commented on #114
Make sure you pulled SLKInputBar branch.  Also, in RoomVC make sure its uncommented. Then type in 10 messages in a row like "Hi1", "Hi2"

    func messageInputBar(_ inputBar: MessageInputBar, textViewTextDidChangeTo text: String) {

        // TODO: Typing indicator
        self.currentUser.typing(in: self.room) { error in
            // NSLog("messageInputBar::textViewTextDidChangeTo text=\(text)

[2018-12-11 16:24] mdpye commented on #116
The timing with the first message does appear to be glitchy. As both workaround (because this race condition is definitely a bug), but also as a more convenient approach generally, the SDK attaches a `PCUser` object to each `PCMessage` as the `sender` property. If you are rendering the senders of messages, I recommend using this property. It shouldn't suffer from the timing glitch you see in the r

[2018-12-11 16:47] jain-ruchi commented on #116
Using the sender property in `PCMessage` only gets us one chat member at a time (we would have to accumulate this which is a lot of effort)

A workaround we are attempting instead is to call `fetchMessagesFrom` in the completion block of `subscribeToRoom` -- instead of setting message limit = 1 in `subscribe` and using `onMessage` where we are seeing the issue.

[2018-12-11 17:46] jain-ruchi commented on #116
@mdpye the above attempt appears to have resolved our blocker!

[2018-12-11 17:46] #116 closed

[2018-12-21 00:48] halilyuce commented on #101
Did you solve it ? I have same problem here :/

[2018-12-21 01:02] halilyuce opened #117 "Background Crash and instanceLocator Problem"
Hi, I have 2 important problem;

Messaging system working well but If I close the app (putting it on background, not shutting it down completely) after it has connected to Chatkit and subscribed to the user's rooms, and then re-open the app its crashing

<img width="911" alt="ekran resmi 2018-12-21 03 57 17" src="https://user-images.githubusercontent.com/29376592/50318801-89069a80-04d4-11e9-831f-7

[2018-12-21 01:14] halilyuce commented on #117
I did deleted PusherSwift pod and second problem was solved but background crash problem is still same.

[2018-12-21 17:36] halilyuce commented on #117
thanks for reply, I sent my project to you via e-mail :)

[2018-12-21 20:05] hitchingsh commented on #114
Thank you. That works for our development schedule.

[2018-12-21 23:32] jain-ruchi opened #119 "Subscribe Not Triggering when you call "subscribeToRoom" For Users In 50+ Chatrooms"
### What?

Subscribe Not Triggering when you call "subscribeToRoom" For Users In 50+ Chatrooms. On launch we subscribe to all the rooms a user is in, however, the subscription is not taking place for a subset of the rooms or any new rooms that we attempt to subscribe to thereafter (say after creating a room).

Some theories that have been thrown around is that we are hitting the iOS limit on the n

[2018-12-21 23:58] halilyuce opened #120 "Edit Push Notification"
I want to edit push notification title and content, is it possible ? Im creating rooms with random names at server side so it seems bad, I want to show user name as title and message as content.

How can do that ?

![img_0419](https://user-images.githubusercontent.com/29376592/50368002-786a2900-0595-11e9-83e5-cdc486c2f7eb.jpg)

### Environment

* **PusherChatkit version: 1.2.3
* **Xcode version: 1

[2018-12-24 16:45] hamchapman commented on #120
This is something that we'll be adding support for in the future. Thanks for the feedback!

[2018-12-24 16:46] hamchapman commented on #117
Is this still an issue?

[2018-12-24 16:47] hamchapman commented on #119
This should be fixed now. It was a limit being imposed by our servers on the number of concurrent HTTP/2 streams per connection. This limit has been increased significantly now so you should be able to subscribe without issue 👍

Let me know if it's still an issue!

[2018-12-24 16:47] #119 closed

[2018-12-24 20:19] jain-ruchi commented on #119
@hamchapman Confirmed! Thanks for the support!

[2018-12-24 20:32] halilyuce commented on #117
Nope, I solved it thanks :)

[2018-12-24 20:33] #117 closed

[2018-12-24 20:35] halilyuce commented on #120
oh, thanks :) I hope it will be added before I release this app(in couple months) because it is so important :)

[2018-12-27 17:30] hitchingsh opened #121 "onNewCursor not working for our app"
### What?

In our RoomVC.swift file we define the function onNewCursor ton the PCRoomDelegate which never gets called by Chatkit but should (this is the bug):

    func onNewCursor(cursor: PCCursor) {
        print("Cursor set for \(cursor.user.displayName) at position \(cursor.position)")
    }

and in onMessage we call

self.setCursor(with: self.room.id, messageId: message.id)

and we set this u

[2018-12-27 17:49] hitchingsh opened #122 "Enhancement Request: send notifications from Node JS via Chatkit to existing user"
### What?

We would like to send a notification to existing chatkit users of our app when they are invited to a new room using the Chatkit notification UI.  We'd like these only to be sent if the user receiving the notification's app is not currently open and in the foreground on iOS or Android (just as is currently done with the room messages).  We use channels to pop up an invitation dialog if t

[2018-12-27 17:50] hitchingsh commented on #122
Moving to Node JS

[2018-12-27 17:50] #122 closed

[2019-01-02 11:34] hamchapman commented on #121
It definitely should be being called. There are tests in the SDK for it.

The only thing I can spot that it _could_ be is that your function signature is

[code]

whereas the one used in the example and in the SDK tests is

[code]

as seen here: https://github.com/pusher/chatkit-swift/blob/aa02a4681684bb58b71f2e6c5e536d1ae99bd882/Tests/Helpers/TestingDelegates.swift#L101

If the `_` being present

[2019-01-02 17:40] #121 closed

[2019-01-02 21:16] jain-ruchi commented on #120
@halilyuce our team had a similar request -- our short term solution was to use empty strings for room creation which hides the title in push notifications

[2019-01-03 10:42] halilyuce commented on #120
thanks for suggestion @jain-ruchi , I will try it :)

[2019-01-06 18:35] clay-mindoula opened #124 "PCMessage causing crashes a couple of times"
### What?
PCMessage crash due to "Fatal error: Unexpectedly found nil while unwrapping an Optional value"
Only happen twice. At the moment I am just just getting up to speed with ChatKit and going with the flow. I'm now build a DSYM dev build and uploading it to BugSnag and try and get some more info, so this is a kind of FYI right now. The onMessage code:

[code]

### Environment

* **PusherChatk

[2019-01-08 13:59] hamchapman commented on #124
@clay-mindoula did you find a solution to the problem?

[2019-01-08 14:37] clay-mindoula commented on #124
Sorry not clear, this causes the problem:
[code]
This "stabilizes" the API:
[code]
No further problems yesterday, good enough for the girls I go out with. But you DO have a problem in there.

[2019-01-08 14:59] Tom-Fox1 opened #125 "Local data store of recent messages?"
### What?

Is it currently possible/are there plans to add some sort of local data store of messages. I ideally want to be able to store the latest 30 messages so that the use can see them without an internet connection.

This doesn't currently seem to be possible (with the default library), is this the case?

CC @hamchapman

[2019-01-08 15:45] hamchapman commented on #125
We've not got any work planned to add built-in support for this, but there's nothing stopping you from storing messages in your app.

[2019-01-08 20:45] Tom-Fox1 commented on #125
Ok, thanks for the quick reply. Btw I've loved using ChatKit so far - I was integrating with Twilio but just discovered Pusher and your documentation is far better and replacing their Chat SDK with yours has reduced the download size of my app by 12MB. Thanks for the great work!

[2019-01-08 20:45] #125 closed

[2019-01-10 17:58] clay-mindoula commented on #107
i just got this also:
[code]

[2019-01-15 10:19] hamchapman commented on #125
Awesome - thanks for the kind words! 🙌

[2019-01-15 17:39] jjatie opened #126 "PCRoomDelegate conforming to NSObjectProtocol"
### What?
I cannot find any use in the source of PusherChatKit that requires the `PCRoomDelegate` to conform to `NSObjectProtocol`. As a result all objects conforming to `PCRoomDelegate` effectively must be subclasses of `NSObject`. Ideally, we have:
[code]
instead so that all adopters of the protocol do not need to subclass `NSObject`

### Environment

* **PusherChatkit version:** 1.2.3
* **Xcode

[2019-01-17 16:52] hamchapman commented on #107
If you're able to, please try using the branch that forms #128 to see if that causes the crashes to go away

[2019-01-17 19:10] clay-mindoula commented on #107
i'll take a look early next week, many thanks

[2019-01-21 17:09] #107 closed

[2019-01-21 17:10] hamchapman commented on #107
The expected fix for this is now on master so if anyone has a chance to test that before I cut a new release then that would be much appreciated!

[2019-01-22 16:13] hamchapman commented on #114
The work for the fix is ongoing and approaching completion. Apologies that it's taken a while to get it all sorted.

In terms of an ETA, I'd estimate that it should be live by the end of next week, give or a take a bit.

[2019-01-22 16:15] clay-mindoula commented on #114
That works, thankee

[2019-01-22 23:24] hitchingsh opened #132 "Would like ability to unsubscribe from a room"
### What?

Would like the ability to unsubscribe from a room in swift/android and/or Node JS

Remaining subscribed to rooms when not in them significantly increases battery drain and also uses network bandwidth and CPU.  We need this to produce a consumer grade application using Chatkit.

### Environment

* **PusherChatkit version:**
* **Xcode version:**
* **Swift version:**
* **Platform(s) runnin

[2019-01-23 10:54] hamchapman commented on #132
This functionality is coming very soon to the Swift SDK: https://github.com/pusher/chatkit-swift/pull/130

It doesn't make sense in the context of the Node SDK though, as that doesn't support subscribing to a room.

[2019-01-24 19:01] hitchingsh opened #134 "Need to create PCAttachment to create a PCMessage with a link attachment"
### What?

Please allow us to create attachments to pass into PCMessage.  Currently I create PCMessages which we use to create a virtual room before we actually create one. However, for attachments, I need the ability to create an attachment. Please update Attachment.swift to the following code so we can create attachments:

import Foundation
import PusherPlatform

public struct PCAttachment {

[2019-01-25 10:42] hamchapman commented on #134
You should be able to send a message with a link attachment using code like this:

[code]

[2019-01-25 11:03] #126 closed

[2019-01-25 11:04] hamchapman commented on #132
Merged into master - will be in the next release, which will be going live today

[2019-01-25 11:04] #132 closed

[2019-01-25 13:41] ZakSingh commented on #114
Ran into this in our react native app - drove us crazy. Glad there is a fix in progress!

[2019-01-25 21:36] hitchingsh commented on #134
I think you misunderstand our requirement. It is to create a PCMessage with an attachment and your proposed solution does not support that.

We have an application feature where we don't want the other users to see the messages until a certain time and because there is no official supported way to turn off notifications when doing sendMessage, we need to create virtual messages locally and thus ar

[2019-01-28 04:51] narsi-mindoula commented on #120
we also need this very badly. Unfortunately we are planning to go live with the app in a week or so and we can't do that without the support for push notifications. I think @jain-ruchi's solution solves it to some extent, but we also don't have real names for users.

There was another talk of supporting web hooks for this feature. @hamchapman any other alternative to fix this problem if the web ho

[2019-01-28 16:12] hamchapman commented on #134
What do you then do with the virtual messages?

Also, `PCAttachment` is already public so you should already have access to it. Do you not?

[2019-01-28 19:37] hitchingsh opened #135 "When a lot of messages (e.g. 10) are delivered at the same time, onMessage not called for all of them"
### What?

When we send a lot of messages at once, onMessage is not called for all of them.

### Environment

* **PusherChatkit version:**
1.2.3

* **Xcode version:**
* **Swift version:**

Swift 4.2

* **Platform(s) running PusherChatkit:**

### Demo Project (if you have one; it helps a lot!)

----

CC @hamchapman

[2019-01-29 11:18] hamchapman commented on #135
When you say delivered, do you also mean sent? If so, then it is likely the same underlying as #114

[2019-01-30 11:36] jjatie opened #138 "Delegates don't provide basic information"
### What?
`PCRoomDelegate` names don't fit with traditional Cocoa (Touch) naming conventions. Additionally they don't provide all of the basic information supplied in Cocoa (Touch) delegates, particularly the caller. This requires strong references to be passed around and generate more potential scenarios for memory leaks.

An example:
[code]
should be at a minimum:
[code]

but even better would b

[2019-01-30 11:45] jjatie opened #139 "New PCRoomDelegate method"
### What?
When subscribing to a room, the only spot you get to respond to the subscription is in the completion handler of `subscribeToRoom` method. To maintain a separation of responsibilities, the delegate object is separate from the controller that wraps a PCRoom. This allows to swap out delegates based on the local store I'm using pretty easily.

My problem is that when subscribing to a room,

[2019-01-30 12:02] mdpye commented on #139
Could you offer a little more detail on how you're storing messages locally?

Internally, we have a method which subscribes to a room and retrieves messages *since a particular message* rather than the last `x` messages. We use it to catch up after a client has been disconnected from the network during a session.

It's not exposed, for a couple of reasons

- there is still a limit to the number of

[2019-01-30 23:10] clay-mindoula opened #140 "Crash in @objc public func registerDeviceToken(_ deviceToken: Data, completion: @escaping () -> Void = {}) {"
### What?
App crashed:
Thread 9: EXC_BREAKPOINT (code=1, subcode=0x103e0fdf0)
Method: registerDeviceToken
Line: strongSelf.preIISOperationQueue.resume()

Xcode was running a build on a device and this happened during startup, twice now.

### Environment

* **PusherChatkit version:** 1.3.0
* **Xcode version:**Version 10.1 (10B61)
* **Swift version:** 4.2.1
* **Platform(s) running PusherChatkit:**iO

[2019-02-01 17:49] hitchingsh commented on #135
When you deliver a fix for 114, I will test this and see if it also fixes this and if so I will close it out and let you know the results regardless.

[2019-02-04 17:05] jjatie opened #144 "`setReadCursor` no longer working"
### What?
Using `setReadCursor` no longer works. Appears to be since Thursday, Feb 1. No code changes happened, but started getting errors in the completion handler of `setReadCursor` saying:

### Environment

* **PusherChatkit version:** 1.3.0
* **Xcode version:** 10.1
* **Swift version:** 4.2
* **Platform(s) running PusherChatkit:** iOS 12+

### Demo Project (if you have one; it helps a lot!)

-

[2019-02-04 23:08] papanton opened #145 "Leaving a group prevents new connections."
### What?
Connecting with a user, creating a room and then leaving it using:
`
 currentUser?.leaveRoom(id: room.id, completionHandler: { error in
      log.info(error)
    })
`

I get the following error log, and any subsequent manager.connect() launches are not completed:

`Response received with status code 401. Error message: services/chatkit_authorizer/authorization/room_membership_required: R

[2019-02-05 16:53] jjatie commented on #144
Seems to be fixed as of Friday, Feb 5

[2019-02-06 00:48] jjatie commented on #144
Issue has reappeared. Testing as of `2019-02-06 00:47:53 +0000`

[2019-02-06 10:51] vivangkumar commented on #114
Hi all!

Apologies for the lack of communication on the thread, we have been hard at work fixing this. The issue has taken a significant amount of time, substantially more than what we anticipated. It has taken a few iterations to get the solution right, and the fix is currently being reviewed + rigorously tested. We'll deploy it as we've assured ourselves we've fixed it for good. Hopefully end of

[2019-02-09 18:12] hitchingsh commented on #114
Thank you! We are eagerly awaiting this fix.

[2019-02-09 20:06] clay-mindoula opened #146 "Room unread message count"
### What?
I'm having a few issues trying to work out how to generate an "unread" message count correctly for a room. I get "my" (roomId) cursor position and then "their" cursor position (roomId, uid), calc is: their.position - my.position > 0. At the moment the only time "my" and "their" positions reconcile is when we are both in a room and we are in sync ie 0 unread. I am read-receipting all new

[2019-02-10 21:16] clay-mindoula opened #147 "Connect never returns"
### What?
Connect fails and never returns. This has just started happening and is associated with ChatKit outputting the following in the debug window"

```Making attempt 2 of 6 in 1.0s. Error was: Bad response status code received: 401 with error message: services/chatkit_authorizer/authorization/room_membership_required: Room membership required```

As soon as I see this I know Connect is going

[2019-02-11 14:49] vivangkumar commented on #114
Hi all!

Thank you once again for your patience. The fix has now been deployed 🎉 Please do let us know if you notice similar issues again. Apologies for the delay in getting the fix through - it was a chunky one!

[2019-02-11 14:49] #114 closed

[2019-02-18 18:14] hitchingsh opened #149 "onUserStoppedTyping not always called"
### What?

public func onUserStoppedTyping(user: PCUser) {

not called for every call of:

public func onUserStartedTyping(user: PCUser) {

### Environment

* **PusherChatkit version:**

  - PusherChatkit (1.2.3):
    - BeamsChatkit (~> 1.2)
    - PusherPlatform (~> 0.6)
  - PusherPlatform (0.6.3)
  - PusherSwift (6.1.0):
    - CryptoSwift (~> 0.9.0)
    - ReachabilitySwift (~> 4.1.0)
    - Starsc

[2019-02-18 23:18] hitchingsh opened #150 "Cursors to deleted rooms sent to client"
### What?

If a room is deleted, cursors containing the room are still sent to the room which tries to fetch them.  This causes warning messages in the client and delays

### Environment

iOS 1.2.3
* **PusherChatkit version:**
* **Xcode version:**
* **Swift version:**
* **Platform(s) running PusherChatkit:**

### Demo Project (if you have one; it helps a lot!)

----

[2019-02-20 17:18] hitchingsh opened #152 "Need asynchronous read cursor callback for client performance"
### What?

We need asynchronous read cursor callback for client performance

[code]

### Environment

* **PusherChatkit version:** 1.2.9
* **Xcode version:** 10.1
* **Swift version:** 4.2
* **Platform(s) running PusherChatkit:**

### Demo Project (if you have one; it helps a lot!)

----

[2019-02-27 16:30] clay-mindoula opened #157 "Three crashes all related to becoming foreground symbolicated"
### What?
3 symbolicated bugsnag crash reports after becoming foreground:

Typical bugsnag auto breadcrumbs:
[code]

### Environment

* **PusherChatkit version:**1.3.0/1.2.1
* **Xcode version:**Version 10.1 (10B61)
* **Swift version:**Apple Swift version 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1)
* **Platform(s) running PusherChatkit:**iOS

### Demo Project (if you have one; it helps a lot!)

[2019-03-01 08:54] populius commented on #144
same problem with [DEBUG] Unsupported API event name received: cursor_set

[2019-03-05 20:25] benweitzman commented on #147
I'm seeing this issue too with chatkit 1.3

[2019-03-08 09:35] rajeshmSTS opened #160 "Swift compiler error Xcode 10.1 (Swift 4.2)"
### What?

After pod integration, while running project "Swift compiler error
***Contextual closure type '(PCMessage, PCMessage) throws -> Bool' expects 2 arguments, but 1 was used in closure body*** " in PCCurrentUser.swift line 708 and 716.

![screenshot 2019-03-08 at 2 40 49 pm](https://user-images.githubusercontent.com/43290296/54020367-a2ee7a00-41b3-11e9-9c6a-66222d02f512.png)
![screenshot 20

[2019-03-18 21:25] ratulSharker commented on #144
I'm using following `PusherChatkit 1.4.1`, still getting this issue as follows

[2019-03-19 07:37] populius opened #162 "'payload' is inaccessible due to 'internal' protection level"
### What?
Get protection error from example docs

@hamchapman
@vivangkumar

### Environment

* **PusherChatkit version:** 1.4.1
* **Xcode version:** 10.1
* **Swift version:** 4.2
* **Platform(s) running PusherChatkit:**

![Снимок экрана 2019-03-19 в 14 35 05](https://user-images.githubusercontent.com/2752484/54588026-5e38cd80-4a54-11e9-98a7-b71dbc67c93d.png)

[2019-03-19 09:46] vivangkumar commented on #162
Uh oh! Thank you for reporting this @populius. I'll push out a fix soon!

[2019-03-20 16:00] vivangkumar commented on #162
Hey @populius I've pushed a new version (1.4.2) that should resolve this and other such occurrences. Thank you once again for reporting this!

[2019-03-20 16:00] #162 closed

[2019-03-21 09:21] caldrian opened #164 "'url' is inaccessible due to 'internal' protection level"
### What?

The sample code in the [reference](https://docs.pusher.com/chatkit/reference/swift#receiving-new-messages) cannot be compiled since `url` is inaccessible.

[code]

### Environment

* **PusherChatkit version: 1.4.2**
* **Xcode version: 10.1**
* **Swift version: 4.2**

----

[2019-03-21 09:29] mdpye commented on #144
Hi. The debug logging you quote is not an error - the event for new cursors changed in the past and currently both are sent with one being ignored as unrecognised. I've also checked the code, and we don't pass an error with test like that back to you in any completion handler, we only log it (at debug, not error or warn) and ignore the event.

If read cursors really have stopped working for you, p

[2019-03-21 09:29] #144 closed

[2019-03-21 09:31] vivangkumar commented on #164
@caldrian new version incoming in the next half an hour. Thank you for bringing this up.

[2019-03-21 09:36] #164 closed

[2019-03-22 12:09] caldrian opened #167 "Failed to refresh download url"
### What?

The url of an attachment cannot be refreshed due to wrong concatenation of the request url.
See the requested URL in the second line of the snippet:
[code]

The concatenation of the url happens here: https://github.com/pusher/pusher-platform-swift/blob/master/Sources/Instance.swift#L400

### Environment

* **PusherChatkit version: 1.4.3**
* **Xcode version: 10.1**
* **Swift version: 4.2

[2019-03-25 09:13] olga-zhegulo opened #168 "Cannot connect after updated backend API"
### What?
Chat cannot connect for a long time and crash finally.
User had logged by previous version of ChatKit (December 2018). After 18th March we replaced ChatKit beta version to current version at ChatKit server. Now old users cannot connect.
But new installation of client application connect successfully.
I suspect that old access token cause this issue.

### Environment

* **PusherChatkit ve

[2019-03-25 09:18] vivangkumar commented on #168
Hi!

Is it possible for you to paste error logs that you receive when you're trying to connect? Access tokens are refreshed if they're invalid.

[2019-03-25 09:31] olga-zhegulo commented on #168
Sorry, we cannot provide log, we removed old instance of application we had. We had 401 error.
When I debugged, in fetchToken 'if' branch executed.

`
if let token = self.accessToken, let tokenExpiryTime = self.accessTokenExpiresAt {
            guard tokenExpiryTime > Date().timeIntervalSince1970 else {
                getTokenPair(completionHandler: retryAwareCompletionHandler)
                /

[2019-03-25 09:41] vivangkumar commented on #168
Is this still a recurring issue?

[2019-03-25 10:16] olga-zhegulo commented on #168
We cannot check, because deleted instance with old tokens.
We reproduced this issue several times yesterday.

[2019-03-28 07:44] caldrian commented on #167
I created a demo project which sends multipart messages with an image as attachment.
After some time (less than an hour) the attachment cannot be loaded anymore.

![Simulator Screen Shot](https://user-images.githubusercontent.com/15628584/55139285-abdcc680-5135-11e9-9c18-5740fb271e36.png)

[AttachmentRefresh.zip](https://github.com/pusher/chatkit-swift/files/3016695/AttachmentRefresh.zip)

@vivang

[2019-03-28 14:33] jain-ruchi commented on #167
We're experiencing this issue as well! Please address! 🙏 🙏 🙏

[2019-03-28 18:30] viczhong commented on #167
Ditto!

[2019-03-29 07:58] populius opened #169 "Sometimes crash at establishUserSubscription"
### What?
Somtimes app crashes with "Fatal error: Attempted to read an unowned reference but object 0x282315ae0 was already deallocated"

### Environment

* **PusherChatkit version:** 1.4.2
* **Xcode version:** 10.1
* **Swift version:** 4.2
* **Platform(s) running PusherChatkit:**

### Demo Project (if you have one; it helps a lot!)

![Снимок экрана 2019-03-29 в 14 56 27](https://user-images.githu

[2019-03-29 10:07] vivangkumar commented on #169
Hi @populius Are you keeping a strong reference to the `ChatManager` object in your app?

[2019-03-31 06:28] saeedkargosha commented on #160
same

[2019-03-31 09:56] saeedkargosha commented on #147
I'm seeing this issue too with chatkit 1.4.3

[2019-03-31 14:24] saeedkargosha commented on #147
URLSession generalRequestURLSession became invalid
URLSession subscriptionURLSession became invalid
URLSession uploadURLSession became invalid
URLSession downloadURLSession became invalid

[2019-04-01 04:33] populius commented on #169
@vivangkumar Yes. For me this crash happen when init/connect ChatManager in airplane mode

[2019-04-01 09:24] vivangkumar commented on #167
Hi guys! My bad, I somehow didn't get notified of this and I've just seen this :( I think I know where the issue is. Fix is inbound.

[2019-04-01 12:58] #167 closed

[2019-04-01 13:02] vivangkumar commented on #160
Hi, is this resolved? There have been several versions since then, and the code for that method is also now different (the line numbers do not match anymore)

[2019-04-01 13:13] vivangkumar commented on #135
@hitchingsh This should have been resolved a while back. Apologies about not posting here. Are you still seeing this?

[2019-04-01 13:16] vivangkumar commented on #146
@clay-mindoula refer to this reply please: https://github.com/pusher/chatkit-client-js/issues/67#issuecomment-473964405.

Hopefully this will make it a lot easier to get unread counts for rooms!

[2019-04-01 13:16] #146 closed

[2019-04-01 23:02] saeedkargosha commented on #160
I resolved that but I have new issue when use connect
It does not return any thing and I check logger it log
 URLSession generalRequestURLSession became invalid
URLSession subscriptionURLSession became invalid
URLSession uploadURLSession became invalid
URLSession downloadURLSession became invalid

On Mon, 1 Apr 2019, 17:32 Vivan Kumar, <notifications@github.com> wrote:

On Mon, 1 Apr 2019, 17:32 V

[2019-04-02 09:14] vivangkumar commented on #160
@saeedkargosha could you please open a support ticket at support@pusher.com?

[2019-04-02 09:15] vivangkumar commented on #169
@populius I see! And does this consistently crash? If that's the case, I can try replicating this and fixing it.

[2019-04-02 12:03] populius commented on #169
@vivangkumar yep

[2019-04-03 08:33] #160 closed

[2019-04-06 19:13] saeedkargosha opened #171 "connect not happend"
### What?

### Environment

* **PusherChatkit version:**1.4.4
* **Xcode version:**Version 10.1 (10B61)
* **Swift version:**4.2
* **Platform(s) running PusherChatkit:**iOS

let chatManager = ChatManager(
                instanceLocator: "v1:us1:52d114f3-25dd-40ca-bde3-4382b0f2dea2",
                tokenProvider: PCTokenProvider(url: "https://us1.pusherplatform.io/services/chatkit_token_provider/v1

[2019-04-08 10:53] vivangkumar commented on #135
Closing this issue. If it persists, please open a ticket with support@pusher.com.

[2019-04-08 10:53] #135 closed

[2019-04-08 10:54] vivangkumar commented on #149
This should've also been fixed a while back. This was happening because of the same reason as #135.

[2019-04-08 10:54] #149 closed

[2019-04-08 10:56] vivangkumar commented on #120
I'm going to close this issues because it is already on our backlog and we'll be getting to it very soon! If you have further issues/ feature requests, please email support@pusher.com.

[2019-04-08 10:56] #120 closed

[2019-04-08 11:00] vivangkumar commented on #147
@clay-mindoula sorry for the very late reply!

Are you seeing more logs? This should provide more information on which subscription is failing. The `connect` call is a number of subscriptions being made at the same time, so any one of those could've failed. However, I suspect it is either presence or cursors. Turning on `verbose` logging may help.

[2019-04-08 15:34] clay-mindoula commented on #147
I have moved on, put it down to the general flakiness.

[2019-04-09 11:12] sanjukta-navsoft commented on #169
Yes I also face same issue.

[2019-04-10 09:17] #139 closed

[2019-04-10 09:28] vivangkumar commented on #169
I'll schedule some time later this week to take a deeper look at this.

[2019-04-11 19:19] jjatie opened #175 "Swift 5 Support"
### What?

When can we expect to get the project updated for Swift 5?

[2019-04-11 19:21] jjatie opened #176 "Carthage Support"
### What?
Using Carthage, building the frameworks take quite a bit of time, especially in something like CircleCI. While caching certainly alleviates the issue, [providing prebuilt frameworks](https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file) would eliminate it entirely.

[2019-04-13 09:48] sanjukta-navsoft commented on #140
I also face this issue

[2019-04-16 02:46] clay-mindoula commented on #140
chatkit is flake (er) in debug fyi

[2019-04-23 16:10] clay-mindoula opened #177 "created at date crash in PCMultipartMessage"
### What?

Offending line per the attached crash report:
[code]
May also be of interest:
[code]

### Environment

* **PusherChatkit version:**1.4.4
* **Xcode version:**10.2.1
* **Swift version:**4.2
* **Platform(s) running PusherChatkit:**iOS

### Demo Project (if you have one; it helps a lot!)

The symbolicated crash report:

[bugsnag_error_stacktrace_NSInvalidArgumentException_event_5cbeccb90037

[2019-04-23 18:42] cyurtbil commented on #171
Same here. And it receives the access token successfully and URL session succeeds while getting the token.

[2019-04-29 15:45] cyurtbil commented on #171
I have asked this to Pusher support, they said I need to retain a strong reference to the ChatManager instance as mentioned on this page: [https://pusher.com/docs/chatkit/reference/swift#initialization](https://pusher.com/docs/chatkit/reference/swift#initialization).

I was initializing and deallocating the chat manager instance in my ChatRoom controller. As soon as I initialized it only once when

[2019-05-04 23:53] clay-mindoula commented on #146
I'm seeing the API documentation updated with unreadCount and lastMessageAt but
the swift api version 1.5.0 with those attributes on PCRoom isn't released?
ETA on this, its was 4/29?

On Mon, Apr 1, 2019 at 6:16 AM Vivan Kumar <notifications@github.com> wrote:

[2019-06-11 12:56] jjatie opened #183 "SPM Support"
### What?
Please include a Package.swift file to enable SPM support

[2019-06-28 00:02] mastermind-app commented on #169
was this ever resolved? any guidance would be appreciated!

[2019-07-08 03:48] vinbhai4u commented on #160
I am still facing the same issue, I am using flutter. I tried to build it with swift 4.2 and swift 4 still the same error. I can build it swift 3but I don't think that's the one we want.

`
  - PusherChatkit (1.7.0):
    - PusherPlatform (~> 0.7.1)
    - PushNotifications (~> 2.0.2)
  - PusherPlatform (0.7.1)
  - PushNotifications (2.0.2)`

This is my pod.lock

Please help

[2019-07-12 09:26] lordweimer91 commented on #169
I have the same problem. Is there any solution?

[2019-07-15 15:22] SeanLintern opened #190 "Crash when mass subscribing"
### What?

When I load the PCCurrentUser, I then attempt to mass subscribe to all rooms which is usually 50+

When i put the subscribing into a serial queue it doesn't crash but takes about 14 seconds compared to the 1 second it takes on just mass subscribing.

![Screenshot 2019-07-12 at 12 10 56](https://user-images.githubusercontent.com/2480548/61227732-c5be0b80-a71c-11e9-94c7-7883dca42490.png)

[2019-07-16 11:17] #190 closed

[2019-07-23 13:27] SeanLintern commented on #190
This is now fixed from release 1.7.2

[2019-07-26 09:26] SeanLintern commented on #177
I also encountered a similar issue, it has been fixed in 1.7.2 / 1.7.3

[2019-07-29 14:15] artursDerkintis commented on #169
Same here - crashes almost every time app goes in background

[2019-07-30 12:56] ben-pusher commented on #169
The issue described here is often caused by iOS collecting the `ChatManager` object. To overcome this you must maintain a strong reference to the object to prevent it being collected, as @vivangkumar has mentioned.

The issue can also occur if your application creates a second `ChatManager` object. When this happens the first is deallocated and the new object replaces it. When this happens the app

[2019-08-23 13:38] lordweimer91 opened #200 "logout"
### What?
How can I logout user?
If I do ChatManager.disconnect() and then login new user, I get messages as if I are a new user, but send from old user.

### Environment

* **PusherChatkit version:** (1.7.3)
* **Xcode version:** 10.3
* **Swift version:** 5.0
----

[2019-08-28 14:54] clay-mindoula opened #201 "Add func onMultipartMessage(_ message: PCMultipartMessage) to PCChatManagerDelegate"
### What?

chat master detail pages "always" have the last message for a room in the master page, avoid nasty proxy, multicast thingie.

### Environment

* **PusherChatkit version:**
* **Xcode version:**
* **Swift version:**
* **Platform(s) running PusherChatkit:**

### Demo Project (if you have one; it helps a lot!)

----

[2019-09-10 15:40] dustfire opened #203 "PCChatManagerDelegate & PCRoomDelegate overlapping functions"
### What?
`PCChatManagerDelegate` && `PCRoomDelegate` both have:

[code]
I see that you guys put these two methods on both Delegate protocols and also to made all these delegate methods optional by implementing empty functions for each:

[code]

However the issue is, if I have a Manager type of object which needs to serve as a delegate to both `PCChatManagerDelegate & PCRoomDelegate` then code won

[2019-10-01 12:38] demosthese commented on #183
Any progress on this?

[2020-01-01 02:09] ryanmusic opened #237 "Compilation failed for PusherChatkit with Xcode 10.2 and Swift 5"
### What?

After downloading PusherChatkit with 'pod install', run the project and the compilation will fail.

<img width="752" alt="Screen Shot 2020-01-01 at 10 04 21 AM" src="https://user-images.githubusercontent.com/406434/71637455-bd33a000-2c7e-11ea-9114-e9bc33ca24b2.png">
<img width="799" alt="Screen Shot 2020-01-01 at 10 04 30 AM" src="https://user-images.githubusercontent.com/406434/7163745

[2020-01-20 05:20] wonder2011 commented on #237
I have the same error. Any workaround for this ?. This is brokening my app compilation right now !

[2020-01-20 20:21] wonder2011 commented on #237
@ryanmusic do you solve this ? Installing other branch, tag or finding another library ?

[2020-01-20 22:00] wonder2011 commented on #237
@ryanmusic i use brach 1.8.2 and is working fine. If some time ago pusher fix 1.8.3 i will update !

[2020-01-21 11:16] grzesiekko commented on #237
It looks like the issue is not related to the version of Swift used by Chatkit/application, but is related to the new version of push notification API that has been introduced in iOS 13. I will try to replicate the problem and come back with a solution.

[2020-01-21 11:19] grzesiekko commented on #183
This will be addressed in version 2.0 of Chatkit.

[2020-01-21 11:37] grzesiekko commented on #176
At the moment we are using Swift 4.2 to develop the framework. This stops us from providing prebuilt frameworks for Carthage. However, we might reconsider doing that once we upgrade to Swift 5.0 in future.

[2020-01-21 11:37] #176 closed

[2020-01-21 11:41] grzesiekko commented on #175
It is possible at the moment to integrate Chatkit with applications written in Swift 5 by using CocoaPods or Carthage. Unfortunately, there is no ETA on when we will start using Swift 5 for development of the framework.

[2020-01-21 11:41] #175 closed

[2020-01-22 17:33] grzesiekko commented on #237
The issue has been fixed in https://github.com/pusher/push-notifications-swift/commit/7f074a47beab45ca020806c06c88e65c80a7227e (release `3.0.2`). You can update the SDK using CocoaPods (`pod update PushNotifications`) or Carthage (`carthage update push-notifications-swift`).

[2020-01-22 17:33] #237 closed

[2020-01-23 21:05] chickdan opened #247 "Crash on ChatManager.disablePushNotifications()"
### What?
After updating to SDK v 1.8.3 (from 1.8.2) our app is crashing when we call `ChatManager.disablePushNotifications()`. It looks like the source of the crash traces back to the `clearAllState(completion:)` function in `PushNotificationsStatic.swift` at line 136, resulting in the following error: `fatalError("PushNotifications.shared.start must have been called first")`. SDK v1.8.2 works as

[2020-01-27 16:59] luismfonseca commented on #247
Please manually update your dependencies so that you have the push notifications version 3.0.4 which should fix this issue.

Closing it for now but let us know if there are any issues.

[2020-01-27 16:59] #247 closed

[2020-01-28 23:09] jakubwarchol opened #256 "Crash on sendMultipartMessage (sending image) when going into background"
### What?

Will update this with more info and stack trace later..

### Environment

* **PusherChatkit version:** 1.8.1
* **Xcode version:** 11.2.1
* **Swift version:** Apple Swift version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)
* **Platform(s) running PusherChatkit:**

### Demo Project (if you have one; it helps a lot!)

----

[2020-01-31 09:09] RublevIgor opened #259 "Crash in PCBasicCurrentUser(line 93 - self.connectCoordinator.connectionEventCompleted)"
### What?

Crash in PCBasicCurrentUser(line 93 - self.connectCoordinator.connectionEventCompleted).
Stable crash on all versions of our application.
[Link to screenshots from Crashlytics and xcode.](https://drive.google.com/open?id=1Ti4J5-W1w9wGPQzzG8-42hCpLbTGyjuG)

### Environment

* **PusherChatkit version:*latest*
* **Xcode version:*latest - 11.3.1 (11C504)*
* **Swift version:*latest*
* **Plat

[2020-02-03 06:44] RublevIgor opened #263 "Crash in PCBasicCurrentUser(line 123 - self.connectCoordinator.connectionEventCompleted)"
### What?

Crash in PCBasicCurrentUser(line 123 - self.connectCoordinator.connectionEventCompleted).
Stable crash on all versions of our application.
[Link to screenshots from Crashlytics and xcode.](https://drive.google.com/open?id=178rBRgpCIePVwuwkJeRgqXQyA8xm5YfE)

### Environment

* *PusherChatkit version: latest*
* *Xcode version: latest - 11.3.1 (11C504)*
* *Swift version: latest*
* *Platfor

[2020-02-07 09:51] j-elmer123 commented on #263
Hi, I got a similar crash, this happens when I try to use the `PCCurrentUser` from `chatManager.connect()`

and when I do this, I know the user from `chatManager.connect()` is nil. Maybe this is what happens to you to
[code]

And currently still trying to solve this problem, even though the user is created in `Instance Inspector` of Chatkit

[2020-03-01 21:12] clay-mindoula opened #269 "Custom data for all messages types"
### Add customData to all message types

### Environment

* **PusherChatkit version:**latest
* **Xcode version:**Latest
* **Swift version:**Latest
* **Platform(s) running PusherChatkit:**iOS, JS, Ruby Server

### Demo Project (if you have one; it helps a lot!)

----

[2020-03-06 10:29] OliverPearmain-Pusher commented on #177
Since @SeanLintern implied that this issue is fixed and because we haven't heard anything further in some time I am going to close this issue.  Please re-open with more details if this is still an issue on the latest version of the SDK.

[2020-03-06 10:29] #177 closed

[2020-03-06 10:37] OliverPearmain-Pusher commented on #171
@cyurtbil point is completely valid.  Its essential that you hold a strong reference to your `ChatManager` instance.

Since we haven't heard anything further in some time I am going to close this issue.  Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 10:37] #171 closed

[2020-03-06 10:49] OliverPearmain-Pusher commented on #75
Suggestions are always appreciated, thank you.  However, I am going to close this issue because we are currently working on some significant updates to the Swift API and this feature request will no longer be relevant.

[2020-03-06 10:49] #75 closed

[2020-03-06 10:51] OliverPearmain-Pusher commented on #134
Its looks as if this feature request was addressed last year but the issue was never closed.

[2020-03-06 10:51] #134 closed

[2020-03-06 10:52] OliverPearmain-Pusher commented on #138
Suggestions are always appreciated, thank you.  However, I am going to close this issue because we are currently working on some significant updates to the Swift API and this feature request will be addressed in that update.

[2020-03-06 10:52] #138 closed

[2020-03-06 10:57] OliverPearmain-Pusher commented on #140
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 10:57] #140 closed

[2020-03-06 10:58] OliverPearmain-Pusher commented on #145
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 10:58] #145 closed

[2020-03-06 10:59] OliverPearmain-Pusher commented on #147
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 10:59] #147 closed

[2020-03-06 11:00] OliverPearmain-Pusher commented on #150
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 11:00] #150 closed

[2020-03-06 11:03] OliverPearmain-Pusher commented on #152
Suggestions are always appreciated, thank you.  However, I am going to close this issue because we are currently working on some significant updates to the Swift API and this feature request will either be addressed or will no longer be relevant.

[2020-03-06 11:03] #152 closed

[2020-03-06 11:04] OliverPearmain-Pusher commented on #157
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 11:04] #157 closed

[2020-03-06 11:05] OliverPearmain-Pusher commented on #168
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 11:05] #168 closed

[2020-03-06 11:07] OliverPearmain-Pusher commented on #169
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 11:07] #169 closed

[2020-03-06 11:09] OliverPearmain-Pusher commented on #183
Closing this because we are currently working on some significant updates to the Swift API and as @grzesiekko has mentioned this will include SPM support.

[2020-03-06 11:09] #183 closed

[2020-03-06 11:14] OliverPearmain-Pusher commented on #203
Suggestions are always appreciated, thank you. However, I am going to close this issue because we are currently working on some significant updates to the Swift API and this feature request will no longer be relevant.

[2020-03-06 11:14] #203 closed

[2020-03-06 11:18] OliverPearmain-Pusher commented on #256
Since we haven't heard back withe additional info and stack trace promised I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 11:18] #256 closed

[2020-03-06 11:23] OliverPearmain-Pusher commented on #200
Since this relates to an older version of the SDK and because we haven't heard anything further in some time I am going to close this issue. Please re-open with more details if this is still an issue on the latest version.

Dedicated support is always available at https://support.pusher.com and support@pusher.com.

[2020-03-06 11:23] #200 closed

[2020-03-06 11:33] OliverPearmain-Pusher commented on #201
Suggestions are always appreciated, thank you. However, I am going to close this issue because we are currently working on some significant updates to the Swift API and this feature request will likely either be addressed or will no longer be relevant.

[2020-03-06 11:33] #201 closed

[2020-03-10 18:14] clay-mindoula commented on #201
any ETA on this? Very interested

On Fri, Mar 6, 2020 at 3:33 AM OliverPearmain-Pusher <
notifications@github.com> wrote:

[2020-03-10 18:16] clay-mindoula commented on #157
Confirming all my issues related to crashes are now cleared, specifically:
[code]

On Fri, Mar 6, 2020 at 3:04 AM OliverPearmain-Pusher <
notifications@github.com> wrote:

[2020-03-12 09:24] victormihaita opened #274 "Room unreadCount not filtering the unread messages just for current user"
### What?
The unreadCount parameter on a room is returning the total unread messages (for all users in that room) instead on the unread messages for the currentUser only.

### Environment
* **PusherChatkit version: 1.8.3
* **Xcode version: 11.3.1
* **Swift version: 5
* **Platform(s) running PusherChatkit: iOS

[2020-03-12 13:57] mdpye commented on #274
Hi @victormihaita

Could we ask you to get in touch with support@pusher.com please. If possible, provide steps to reproduce or some samples from your testing showing the expected and actual output?

Thanks

[2020-03-13 08:20] victormihaita commented on #274
I wrote an email. Thanks.

[2020-03-16 03:48] criscentreblue commented on #171
Hi @OliverPearmain-Pusher
I'm getting this error when I call ChatManager.connect.
[code]

Environment
** PusherChatkit version:**1.8.3
**Xcode version:**11.3
**Swift version:**5.0
**Platform(s) running PusherPlatform:**iOS

[2020-03-18 12:36] grzesiekko commented on #274
This issue has been solved by support.

[2020-03-18 12:36] #274 closed

[2020-03-18 13:11] OliverPearmain-Pusher commented on #201
I'm afaid I cannot give you any indication of an ETA as we are still in the early stages of development and discovery.

If you would be interesting in working with us to help test early versions/prototypes of the updated SDK, at such a time that it is available, then please let us know.

[2020-03-24 19:36] clay-mindoula opened #280 "CUNTS"
### What?

### Environment

* **PusherChatkit version:**
* **Xcode version:**
* **Swift version:**
* **Platform(s) running PusherChatkit:**

### Demo Project (if you have one; it helps a lot!)

----

[2020-03-25 09:49] roscoej opened #281 "When is the Room's unreadCount changed?"
### What?
The unreadCount of Room object is not changed after loaded all messages for the room.
I also tried to set cursor for all messages but it didn't solve the problem.
When is the unreadCount value changed?

### Environment

* **PusherChatkit version: 1.8.3**
* **Xcode version: 11.3**
* **Swift version: 5**
* **Platform(s) running PusherChatkit: 0.7.2**

[2020-03-25 17:16] benw-pusher commented on #281
Hello,

It is with great regret that we have to tell you that on April 23 2020 Pusher will be fully retiring our Chatkit product.

We started Chatkit 2 years ago and we want to thank all our partners, staff past and present, and customers who have joined us on this exciting journey.

This isn’t a decision that we’ve taken lightly and we know that it may cause significant challenges for our custome

[2020-03-25 17:16] #281 closed, assigned to nobody

[2020-04-02 14:37] jain-ruchi opened #282 "App crash on .disablePushNotifications"
### What?

When we upgraded to version 1.8.3, we observed a crash when calling .disablePushNotifications.

### Environment

* **PusherChatkit version: 1.8.3**
* **Xcode version: 11.4**
* **Swift version: 5.0**
* **Platform(s) running PusherChatkit: iOS, JS**

### Demo Project (if you have one; it helps a lot!)

----